#home-container {
    margin-top: 0;
    background-color: var(--primary);
    height: 814px;
    color: var(--text);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    display: flex;
}

.container {
    border: 1px solid red;
    height: 812px;
    padding-left: 20px;
    padding-right: 20px;
}

.subcontainer {
    border: 1px solid blue;
}

.subsubcontainer {
    border: 1px solid green;
    padding-left: 20px;
    padding-right: 20px;
}

#budget-overview-container {
    width: 40%;
}

#graph-container {
    height: 400px;
}

#graph-info-container {
    height: 300px;
    margin-top: 20px;
}

#accounts-overview-container {
    width: 60%;
}

#accounts-title-container {
    padding-top: 20px;
    display: flex;
}

#accounts-title {
    translate: 0 -20px;
}

select {
    background-color: var(--secondary);
    height: 75px;
    width: fit-content;
    border-radius: 30px;
    border: none;
    color: var(--text);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 25px;
    cursor: pointer;
}

#account-selector {
    translate: 150px;
}

#transactions-container {
    height: 702px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#right-col-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#regular-payments-container {
    flex: 0 0 65%;
}

#upcoming-transactions-container {
    flex: 0 0 34.5%;
}

p {
    margin: 0;
}

.WIP {
    color: red;
    text-align: center;
}